$text-color: #3E3E3E;
$text-white: #474747;
$body-color: #FCFCFC;
$background-color: #E0E0E0;
$block-color: #EA598A;
$block-color2: #41A291;
$border-color: #41A291;
$header: #45C385;

// PICTURE
body {
  height: auto;
}
.introduction {
  display: block;
  padding-top: 0;
}
.about-me-pictures {
  padding-top: 200px;
  position: fixed;
}
// PICTURE END!

.about-outer {
  padding-top: 220px;
  max-width: 953px;
  margin: 0 1em;
  display: grid;
  grid-template-columns: 295px auto;
}

.about-text {
  position: absolute;
display:flex;
  justify-content: flex-end;
}
.about-inner {
  float: right;
}
.h4-padding {
  padding-top: 100px;
}
.intro-p {
  font-size: 1.75em;
}
.job-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  p {
    margin: 0;
  }
  h2 {
    font-weight: 600;
  }
}
.hr-work {
  margin-top: 40px;
}
// FONTS
h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: left;
  font-style: normal;
  margin: auto;
  color: $text-color;
  margin-top: 10px;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 1.7em;
  margin: 0;
  font-weight: 300;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
}
@media only screen and (min-width: 965px) {
  .about-outer {
    margin: 0 auto;
  }
}
