$text-color: #3E3E3E;
$text-white: #474747;
$body-color: #FCFCFC;
$background-color: #E0E0E0;
$block-color: #EA598A;
$block-color2: #41A291;
$border-color: #41A291;

body {
  height: 4000px;
      background-attachment: fixed;
}

.largeWork {
  display: block;
  padding-top: 150px;

  .largeWorkInner {
    margin: 2em;
  }

  .largeWorkInnerItems {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-btn {
    margin: 0;
  }
}

.contactBackground {
  margin-top: 75px;
  position: absolute;
}

.contactInner {
  display: block;
  margin: 1em;
  h4 {
    margin: 0;
    opacity: 0.5;
    text-align: left;
  }
}

.portfoliointro {
  margin-right: 2em;
}

.portfolio-pic {
  float: right;
}

h2 {
  margin: 0 0 1em;
  text-align: right;
}

h4 {
  margin: 0;
  opacity: 0.5;
  text-align: right;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: left;
  font-style: normal;
  margin: auto;
  color: $text-color;
  font-family: "Playfair Display", serif;
}

p {
  text-align: justify;
  font-weight: 400;
}

.paragraph-1 {
  display: flex;
  flex-direction: column;

  .img-1 {
    order: 1;
    height: 250px;
    background-color: $block-color2;
    grid-area: img-1;
  }

  p {
    order: 3;
    margin-bottom: 0;
  }

  .btn {
    order: 2;
    margin: 0.5em 0 0;
    align-items: center;
    text-align: center;
    font-weight: 400;
  }
}

.h1-cta {
  text-align: center;
  max-width: 400px;
}

.h1-cta-btn {
  display: block;
  margin: 5px 0;
  text-align: center;
  font-weight: 400;
}

.cta-hr {
  margin-top: 37px;
  margin-bottom: 23px;
}
@media only screen and (min-width: 688px) {
  body {
    height: 2000px;
  }

  h1 {
    font-size: 2.3em;
  }

  .contactInner {
    margin: 2em;
  }

  .paragraph-1 {
    display: grid;
    grid-template-areas: "img-1 p" "img-1 btn";
    grid-column-gap: 1em;
    grid-template-rows: 65% auto;

    .img-1 {
      width: 250px;
    }

    p {
      margin: 0;
      order: 2;
    }

    .btn {
      order: 3;
      text-align: left;
      float: left;
      text-align: center;
      width: 100px;
      height: auto;
      align-self: flex-end;
    }
  }

  .h1-cta-btn {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .portfolio {
    float: right;
    width: 250px;
    height: 250px;
    margin: 0;
  }

  .largeWork {
    .largeWorkInner {
      display: flex;
      flex-direction: column;
    }

    .largeWorkInnerItems {
      display: grid;
      max-width: 930px;
      grid-gap: 26px;
      grid-template-columns: 35% auto;
      margin-left: auto;
      margin-right: auto;

      h3 {
        margin-top: 0;
      }
    }
  }
}
@media only screen and (min-width: 1090px) {
  .contactBackground {
    position: static;
  }

  .contactInner {
    margin: 4em;
    padding: 2.5em 0;
  }


}
