$text-color: #3E3E3E;
$text-white: #474747;
$body-color: #FCFCFC;
$background-color: #E0E0E0;
$block-color: #EA598A;
$block-color2: #41A291;
$border-color: #41A291;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.introduction {
  grid-template-columns: 56% auto;
  grid-column-gap: 15px;
  grid-template-rows: 0 150px 115px 21px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;

  .resume-btn {
    margin-left: 0;
  }

  h1 {
    max-width: 710px;
    font-size: 2.5em;
  }

  .profile {
    margin: 0;
    width: auto;
  }

  .flexbox-item-1 {
    order: 1;
    display: block;
  }
  // Name - Aleksander Kaaberma
  .flexbox-item-2 {
    order: 2;
    padding: 0;
    height: 0;
  }

  .flexbox-item-3 {
    order: 3;
  }

  .flexbox-item-4 {
    order: 4;
  }

  .flexbox-item-5 {
    order: 5;
    margin-top: 24px;
  }

  .pics {
    height: 180px;
  }

  .CVexample {
    width: 315px;
  }
}

h2 {
  margin: 0 0 15px;
}
// H2 HEADER ALIGNED CENTER, SMALL AND LARGE

.multiple {
  h2 {
    font-size: 1.8em;
    text-align: center;
  }
}
// Choose your CV

.cvchoice {
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    display: block;
    padding-top: 120px;
    text-align: center;
    font-size: 2.3em;
    margin-left: auto;
    margin-right: auto;
  }

  .cvChoiceInner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

    img {
      width: 283px;
      height: 400px;
      background-color: $text-color;
      margin: 13px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    }

    .CV-examples:hover .cv-img {
      width: 290px;
      height: 407px;
      margin: 9px;
      box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.25);
      transition: width 100ms ease-out;
      transition: height 110ms ease-out;
    }

    .cv-hover {
      // opacity: 0;
      display: flex;
      position: absolute;
      width: 290px;
      height: 407px;
      background-color: none;
      margin: 9px;
      transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -webkit-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
    }

    .cv-hover-btn {
      display: none;
      align-self: flex-end;
      text-align: center;
      margin-left: 0;
      flex-grow: 3;
      transition: opacity 0.5s ease-out;
    }

    .CV-examples:hover {
      .cv-hover-btn {
        display: block;
      }

      .cv-hover {
        opacity: 1;
      }
    }
  }
}
// FAQ

.faqback {
  margin: 0 1em;
  padding-bottom: 1em;
}

.contactBackground {
  margin-top: 105px;

  .FAQh2 {
    padding-top: 1em;
    text-align: center;
  }
}

.faqbackground {
  height: 27%;
}

.faq-item {
  border: none;
  border-bottom: 1px solid $text-color;
}

.faq-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
  }

  .arrowicn {
    width: 17px;
    height: 17px;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  background-color: $background-color;
  transition: max-height 650ms;

  p {
    margin: 0;
    padding: 0 1em 1em;
  }
}

.answer::before {
  content: "";
  padding: 1em;
}

.faq-item:target .answer {
  max-height: 20rem;
}

.faq-contact {
  opacity: 0.7;
  padding: 7px 0;
  margin-top: 0.5em;
}

.contact-link {
  color: blue;
}
@media only screen and (min-width: 688px) {
  .introduction {
    padding-top: 112px;

    .flexbox-item-5 {
      margin-top: 0;
    }

    p {
      margin-top: 5px;
      max-width: 593px;
      margin-bottom: 21px;
    }

    .pics {
      height: 240px;
      float: right;
    }

    .CVexample {
      width: 400px;
    }
  }

  .faqbackground {
    height: 19%;
  }
}
@media only screen and (min-width: 1000px) {
  .introduction {
    padding-top: 194px;
    grid-template-columns: 45% auto;
    grid-template-rows: 0 111px 115px 21px;

    h1 {
      font-size: 3.5em;
    }

    .CVexample {
      width: 450px;
    }
  }

  .largeWhat {
    h2 {
      text-align: center;
      font-size: 2.3em;
    }
  }
}
@media only screen and (min-width: 1400px) {
  .introduction {
    grid-template-columns: 33% auto;
  }
}
// H2 ALIGN END
