$text-color: #3E3E3E;
$text-white: #474747;
$body-color: #FCFCFC;
$background-color: #E0E0E0;
$block-color: #EA598A;
$block-color2: #41A291;
$border-color: #41A291;

html {
  height: 100%;
  background-color: white;
}

body {
  background-image: linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(38, 240, 141),rgb(24, 222, 125),rgb(38, 240, 141));
  height: 774px;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  padding: 1em;
  z-index: 20;
  justify-content: space-between;
  width: calc(100% - 2em);
  font-family: "Playfair Display", serif;
  max-width: calc(1400px - 4em);

  a {
    text-decoration: none;
    color: $text-color;
  }

  .hoverline {
    position: relative;
    width: 0;
    margin: 0 auto;
    top: 25px;
    background-color: $block-color;
    height: 2.5px;
  }

  .nav:hover .hoverline {
    width: calc(100% - 1em);
    transition: width 350ms;
  }

  a.logo {
    font-weight: normal;
    font-size: 1.5rem;
    color: $text-color;
  }

  .bold-txt {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  li a {
    padding: 0.5em;
    height: 50px;
  }

  .last-a {
    display: none;
    padding-right: 0;
  }

  svg {
    position: absolute;
    top: 0;
    right: -200px;
    width: 100%;
    height: 100%;
  }

  circle {
    transform-origin: 65% 70%;
  }

  .wrapper {
    top: -5em;
    right: -1em;
    margin: 0;
    position: relative;
    overflow: hidden;
    float: right;

    .wrapper-nav {
      background-color: white;
      height: calc(100vh + 1em);
      width: 400px;
      overflow: hidden;
      position: relative;
      clip-path: url("#clipPath");
    }

    h4 {
      position: absolute;
      bottom: 1.7em;
      margin-left: 50%;
      left: -150px;
      color: #E0E0E0;
    }

    ul {
      visibility: visible;
      display: flex;
      flex-direction: column;
      align-items: left;

      li {
        margin-left: 2em;
        margin-top: 1em;
      }

      #close {
        position: relative;
        width: 30px;
        height: 30px;
        left: 296px;
        bottom: 7px;
        z-index: 10;
      }

      a {
        font-size: 2.7em;
      }
    }
  }

  .brgrmenu {
    position: absolute;
    top: 0;
    right: 1em;
  }

  .brgr-back {
    display: flex;
    background-color: white;
    height: 57px;
    width: 50px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .brgr-line {
      margin-top: 0.25em;
      display: grid;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      width: 30px;
      height: 5px;
      border-radius: 1px;
    }

    .brgr-line-1 {
      margin-top: 0.3em;
    }
  }
}
// Hero part

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// picture

.flexbox-item-1 {
  order: 2;
  display: none;
}
// Name - Aleksander Kaaberma

.flexbox-item-2 {
  order: 3;
  padding-top: 1em;
}

.flexbox-item-3 {
  order: 1;
}

.flexbox-item-4 {
  order: 4;
}

.flexbox-item-5 {
  order: 5;
}

.introduction {
  padding-top: 180px;

  section {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.6em;
    margin: 0;
    max-width: 830px;
  }

  .pics {
    padding-bottom: 3em;
    height: 340px;
  }

  .profile {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .picBackground {
    background-color: $text-color;
    height: 360px;
    width: 240px;
    position: relative;
    top: -360px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  }

  .picStyle {
    height: 360px;
    width: 240px;
    position: relative;
    left: 25px;
    top: 25px;
    border: 13px solid $border-color;
    box-sizing: border-box;
  }

  h1 {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    margin: auto;
    color: $text-color;
    margin-top: 10px;
    font-family: "Playfair Display", serif;
  }

  h2 {
    font-size: 1.7em;
    font-weight: 300;
    text-align: center;
    align: center;
    margin: 0 auto;
    color: $text-color;
    font-family: "Roboto", sans-serif;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 44px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    color: $text-color;
    padding: 0;
    display: none;
  }
}

.buttonAlignment {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 1.2em;
  text-decoration: none;
  color: $text-color;
  padding: 10px 15px;
  font-family: "Roboto",serif;
  font-weight: 300;
}

.btn:hover {
  box-shadow: -2px -2px 9px rgba(255, 255, 255, 0.25), 2px 2px 9px rgba(0, 0, 0, 0.25);
  background: rgba(234, 89, 138, 0.11);
}

.download-btn {
  border: 1px solid $text-color;
  box-sizing: border-box;
  margin-left: 0;
}

.contact-btn {
  background-color: $block-color;
  margin-left: 10px;
}
// What I do area

.largeWhat {
  display: none;
}

.largeWork {
  display: none;
}

h2 {
  font-size: 2.3em;
  font-weight: 700;
  margin: 0 0 15px;
  text-align: left;
  color: $text-color;
  font-family: "Playfair display", serif;
}
// Small gray text

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: left;
  color: $text-white;
  margin: 0;
}

.glider-contain {
  margin-top: 30px;
}

.whatBackground {
  width: 265px;
  margin: 1em;
  padding: 0.5em;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
// Portfolio

.portfolio {
  width: 250px;
  height: 250px;
  background-color: $text-color;
  margin: 1em 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

hr {
  border: 0.5px solid $text-color;
}

.icon {
  display: block;
  margin-left: 15px;
  height: 4.5em;
  width: 4.5em;
  grid-area: icon;
  margin: 1em auto 1.3em;
}

h3 {
  font-family: "Playfair display", serif;
  font-weight: 600;
  color: $text-color;
  font-size: 1.6em;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  color: $text-color;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.sectionCut {
  margin-top: 2.7em;
  width: 80%;
  visibility: hidden;
}
// WORK SECTION

.work {
  margin-top: 80px;
}
// Contact me section

.contactInner {
  margin: 1em 3em 1em 1em;
  display: flex;
  align-items: left;
  grid-template-columns: auto;
  flex-direction: column;
  flex-wrap: wrap;
}
// Contact me hover section.

.contact-me {
  position: fixed;
  overflow: hidden;
  z-index: 20;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.35);
  margin-left: auto;
  margin-right: auto;
  transform: translateX(calc(-50% - .5px)) translateY(calc(-50% - .5px));

  .contactBackground {
    position: static;
  }

  .contact-hover-Inner {
    margin: 1em 3em 1em 1em;
    display: flex;
    align-items: left;
    grid-template-columns: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact-inner-Right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .h4Contact {
      margin: 0;
    }

    .h3contact {
      max-width: 900px;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  }

  .contact-inner-Left {
    h4 {
      text-align: left;
    }
  }

  .contact-a {
    margin-left: auto;
    float: right;
    right: 0;
    margin-top: 25px;
  }

  img {
    position: absolute;
    width: 25px;
    height: 25px;
  }
}

.contact-click:hover {
  .contact-me {
    display: block;
  }
}

.contactBackground {
  margin: 1em;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  .h4Contact {
    float: left;
    margin: 2em 0 0;
  }

  .shop-btn {
    border: 1px solid $text-color;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    width: 7em;
    font-weight: 400;
    float: left;
  }

  .contactP {
    margin-top: 2.5em;
    margin-right: 2em;
  }

  .contactLeft {
    h4 {
      text-align: left;
    }
  }

  .inputText {
    margin: 1em auto 0.2em 0;
    font-family: "Roboto", serif;
    font-weight: 400;
  }

  .input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid $text-color;
    font-size: 1em;
    font-weight: 700;
    font-family: "Roboto", serif;
    color: $text-color;
    width: calc(100% - 1em);
  }

  ::placeholder {
    color: $text-color;
  }

  .cta {
    margin-top: 18px;
    border: none;
    background-color: $block-color;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 10em;
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: "Roboto", serif;
  }
}
// What I do JavaScript tags

.glider {
  display: block;
}

.gliderLarge {
  display: none;
}

#dots {
  display: flex;
}

#dots2 {
  display: none;
}
// Case study JavaScript tags

.glider2 {
  display: block;
}

.glider2Large {
  display: none;
}

#dots1 {
  display: flex;
}

#dots1Large {
  display: none;
}

.contactBackground {
  .h4Contact {
    float: left;
  }

  .shop-btn {
    float: left;
  }

  .contactRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
// Contact movement css
@media only screen and (min-width: 688px) {
  html {}

  body {
    background-image: none;
  }

  .sectionCut {
    margin-top: 5.7em;
  }
  .flexbox-container {
    display: grid;
  }
  // picture
  .flexbox-item-1 {
    grid-area: flexbox-item-1;
    order: 1;
    display: block;

  }
  // Name - Aleksander Kaaberma
  .flexbox-item-2 {
    order: 2;
    padding: 0;
  }

  .flexbox-item-3 {
    order: 3;
  }

  .flexbox-item-4 {
    order: 4;
  }

  .flexbox-item-5 {
    order: 5;
  }

  .introduction {
    padding-top: 209px;
    display: grid;
    grid-template-rows: 33px 70px 122px 55px;
    grid-template-areas: "flexbox-item-1 flexbox-item-2" "flexbox-item-1 flexbox-item-3" "flexbox-item-1 flexbox-item-4" "flexbox-item-1 flexbox-item-5";
    grid-column-gap: 3em;
    margin:1em;

    section {
      padding: 0;
    }

    .profile {
      padding-top: 0;
    }

    h1 {
      text-align: left;
      color: $text-color;
      margin: 0;
    }

    h2 {
      text-align: left;
      color: $text-color;
      align-self: baseline;
    }

    p {
      display: block;
      color: $text-color;
      padding: 0;
      margin: 0;
      text-align: left;
    }

    .buttonAlignment {
      margin-left: 0;
    }

    .btn {
      font-size: 1.2em;
      text-decoration: none;
      color: $text-color;
      padding: 10px 15px;
      font-family: "Roboto",serif;
      font-weight: 300;
    }

    .download-btn {
      border: 1px solid $text-color;
    }

    .contact-btn {
      background-color: $block-color;
      margin-left: 10px;
    }
  }

  h4 {
    opacity: 0.5;
  }
  // What I do JavaScript tags
  .glider {
    display: none;
  }

  .gliderLarge {
    display: block;
  }

  #dots {
    display: none;
  }

  #dots2 {
    display: flex;
  }
  // Case study JavaScript tags
  .glider2 {
    display: none;
  }

  .glider2Large {
    display: block;
  }

  #dots1 {
    display: none;
  }

  #dots1Large {
    display: flex;
  }

  .section-headers {
    margin-right: 1em;
  }
  .largeWhat {
    display: block;
    max-width: 945px;
margin: 1em;

    h2 {
      text-align: right;
    }

    h4 {
      margin-top: 0;
      text-align: right;
    }

    .LargeWhatInner {
      display: grid;
      grid-template-areas: "what1 what2 what3";
              grid-template-columns: auto 30% auto;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      grid-gap: 30px;

      .whatBackground {
        margin: 0;
        padding: 1em;
        width: auto;
      }

      .what1 {}

      .what2 {}

      .what3 {
        float: right;
      }
    }

  }

  .largeWork {
    display: block;
    max-width: 932px;
    margin-left: auto;
    margin-right: auto;


    h2 {
      text-align: right;
    }

    h4 {
      margin-top: 145px;
      text-align: right;
    }
    .portfolio {
      float: right;
      width: 230px;
      height: 230px;
      margin: 0;
    }


    .largeWorkInner {
      display: flex;
      flex-direction: column;
      margin: 1em;

      .largeWorkInnerItems {
        display: grid;
        max-width: 917px;
        grid-gap: 32px;
        grid-template-columns: 230px auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;

        h3 {
          margin-top: 0;
          margin-bottom: 0;
        }

        p {
          margin-top: 5px;
          margin-bottom: 16px;
        }

        .contact-btn {
          margin-left: 0;
        }
        .portfolioText {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }
    }
  }
  .glider-contain {
    display: none;
  }
  .background {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -1500px;
    background-attachment: fixed;
    z-index: -1;
    top: 0;
    height: 2600px;
    width: 3500px;
    background-color: white;

    .backgroundcolor {
      background-image: linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(23, 207, 116),rgb(24, 222, 125),rgb(23, 207, 116));
      background-attachment: fixed;
      height: 100%;
      width: 1289px;
    }
  }
}
@media only screen and (min-width: 1000px) {
  body {
    background-image: none;
  }

  header {
    display: flex;

    .brgrmenu {
      display: none;
    }

    .wrapper {
      display: none;
    }
  }
.background {
  .backgroundcolor {
    width: 1149px;
  }
}


  header {
    ul {
      visibility: visible;
    }
  }
  // Hero part
  .flexbox-container {
    display: grid;
  }
  // picture
  .flexbox-item-1 {
    grid-area: flexbox-item-1;
    order: 1;
    display: block;
  }
  // Name - Aleksander Kaaberma
  .flexbox-item-2 {
    order: 2;
    padding: 0;
  }

  .flexbox-item-3 {
    order: 3;
  }

  .flexbox-item-4 {
    order: 4;
  }

  .flexbox-item-5 {
    order: 5;
  }

  .introduction {
    max-width: 953px;
    padding-top: 265px;
    display: grid;
    grid-template-rows: 21px 76px 93px 52px;
    grid-template-areas: "flexbox-item-1 flexbox-item-2" "flexbox-item-1 flexbox-item-3" "flexbox-item-1 flexbox-item-4" "flexbox-item-1 flexbox-item-5";
    grid-column-gap: 3em;
    margin: 0 auto;


    section {
      padding: 0;
    }

    .profile {
      padding-top: 0;
    }

    h1 {
      text-align: left;
      color: $text-color;
      margin: 0;
    }

    h2 {
      text-align: left;
      color: $text-color;
      align-self: baseline;
    }

    p {
      display: block;
      color: $text-color;
      padding: 0;
      margin: 0;
      text-align: left;
    }

    .buttonAlignment {
      margin-left: 0;
    }

    .btn {
      font-size: 1.2em;
      text-decoration: none;
      color: $text-color;
      padding: 10px 15px;
      font-family: "Roboto",serif;
      font-weight: 300;
    }

    .download-btn {
      border: 1px solid $text-color;
    }

    .contact-btn {
      background-color: $block-color;
      margin-left: 10px;
    }
  }

  h4 {
    opacity: 0.5;
  }

  .sectionCut {
    margin-top: 11.7em;
  }

  .glider-contain {
    display: none;
  }
  // LARGE WORK and WHAT
  .largeWhat {
    display: block;
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      text-align: right;
    }

    h4 {
      margin-top: 0;
      text-align: right;
    }

    .LargeWhatInner {
      display: grid;
      grid-template-areas: "what1 what2 what3";
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      grid-gap: 1.2em;

      .whatBackground {
        margin: 0;
        padding: 1em;
      }

      .what1 {}

      .what2 {}

      .what3 {
        float: right;
      }
    }
  }

  .portfolio {
    width: 250px;
    height: 250px;
  }
  // What I do JavaScript tags
  .glider {
    display: none;
  }

  .gliderLarge {
    display: none;
  }

  #dots {
    display: none;
  }

  #dots2 {
    display: none;
  }
  // Case study JavaScript tags
  .glider2 {
    display: none;
  }

  .glider2Large {
    display: none;
  }

  #dots1 {
    display: none;
  }

  #dots1Large {
    display: none;
  }

  .contact-me {
    margin-left: 0;
    margin-right: 0;
  }

  .contactInner {
    margin-top: 5em;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2em;
  }
  .section-headers {
    margin-right: 0;
  }
  .largeWork {
    padding-top: 0;


    .portfolio {
      float: right;
      width: 250px;
      height: 250px;
      margin: 0;
    }

    .largeWorkInner {
          margin: 0;
      .largeWorkInnerItems {
            margin-left:0;
            margin-right: 0;
        grid-gap: 26px;
        grid-template-columns: 250px auto;
      }
    }
  }

  .contactBackground {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;

    .contactP {
      margin-top: 1.5em;
      margin-right: 2em;
    }

    .h3contact {
      text-align: right;
      max-width: 350px;
      float: right;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    .h4Contact {
      float: right;
    }

    .shop-btn {
      float: right;
    }

    .contactLeft {
      order: 1;
    }

    .contactRight {
      order: 2;
      align-items: flex-end;
    }
  }

  svg {
    display: none;
  }
}
@media only screen and (min-width: 1400px) {
  header {
    left: 50%;
    margin-left: calc(-700px + 2em);
  }
}
